<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
		<string>vnd.youtube</string>
		<string>youtube-app</string>
		<string>com.google.ios.youtube</string>
		<string>goog.youtube</string>
		<string>youtube-x-callback</string>
		<string>youtubeapp</string>
		<string>googleyoutube</string>
		<string>youtube.com</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>tiktok</string>
		<string>snssdk1233</string>
		<string>tiktokv</string>
		<string>tiktok.com</string>
		<string>musically</string>
		<string>musical.ly</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
